<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootflat-Admin Template</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />
    <!-- site css -->
    <link href="~/Content/site.min.css" rel="stylesheet" />
    <link href="~/Content/google-fonts.css" rel="stylesheet" />

    <script src="~/Scripts/site.min.js"></script>
</head>
<body>
    <!--nav-->
    <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Template</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="getting-started.html">Getting Started</a></li>
                    <li class="active"><a href="index.html">Documentation</a></li>
                    <!-- <li class="disabled"><a href="#">Link</a></li> -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Silverbux <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li class="dropdown-header">Setting</li>
                            <li><a href="#">Action</a></li>
                            <li class="divider"></li>
                            <li class="active"><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li class="disabled"><a href="#">Signout</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--header-->
    <div class="container-fluid">
        <!--documents-->
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
                <ul class="list-group panel">                    
                    <li><a href="index.html" class="list-group-item"><i class="glyphicon glyphicon-home"></i>Dashboard </a></li>
                    <li><a href="icons.html" class="list-group-item"><i class="glyphicon glyphicon-certificate"></i>Icons </a></li>
                    <li><a href="list.html" class="list-group-item"><i class="glyphicon glyphicon-th-list"></i>Tables and List </a></li>
                    <li><a href="forms.html" class="list-group-item"><i class="glyphicon glyphicon-list-alt"></i>Forms</a></li>
                    <li><a href="alerts.html" class="list-group-item"><i class="glyphicon glyphicon-bell"></i>Alerts</a></li>
                    <li><a href="timeline.html" class="list-group-item"><i class="glyphicon glyphicon-indent-left"></i>Timeline</a></li>
                    <li><a href="calendars.html" class="list-group-item"><i class="glyphicon glyphicon-calendar"></i>Calendars</a></li>
                    <li><a href="typography.html" class="list-group-item"><i class="glyphicon glyphicon-font"></i>Typography</a></li>
                    <li><a href="footers.html" class="list-group-item"><i class="glyphicon glyphicon-minus"></i>Footers</a></li>
                    <li><a href="panels.html" class="list-group-item"><i class="glyphicon glyphicon-list-alt"></i>Panels</a></li>
                    <li><a href="navs.html" class="list-group-item"><i class="glyphicon glyphicon-th-list"></i>Navs</a></li>
                    <li><a href="colors.html" class="list-group-item"><i class="glyphicon glyphicon-tint"></i>Colors</a></li>
                    <li><a href="flex.html" class="list-group-item"><i class="glyphicon glyphicon-th"></i>Flex</a></li>
                    <li><a href="login.html" class="list-group-item"><i class="glyphicon glyphicon-lock"></i>Login</a></li>                    
                    <li>
                        <a href="#demo4" class="list-group-item " data-toggle="collapse"><i class="glyphicon glyphicon-lock"></i>Item 4  <span class="glyphicon glyphicon-chevron-right"></span></a>
                        <li class="collapse" id="demo4">
                            <a href="" class="list-group-item">Subitem 1</a>
                            <a href="" class="list-group-item">Subitem 2</a>
                            <a href="" class="list-group-item">Subitem 3</a>
                        </li>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-9 content">
                @RenderBody()
            </div><!-- content -->
        </div>
    </div>

</body>
</html>